/* 基本css属性 */
/* 左浮动 */
.float-left {
    float: left;
}

/* 右浮动 */
.float-right {
    float: right;
}

/* 清除浮动影响 */
.clear-both::after {
    content: "";
    /* 设置为块元素 */
    display: block;
    /* 清除浮动影响 */
    clear: both;
}

/* 版心 */
.container {
    width: 990px;
    background-color: aqua;
    margin: 0 auto;
}


/* 导航条 */
.top {
    background-color: #e3e4e5;
    border: 1px solid #ddd;
    height: 30px;

}
/* 左侧欢迎词 */
.top-welcome {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: red;
}

/* 右侧导航区 */
.top-navigation-items li {
    float: left;
    margin-right: 10px;
 
   
}
/* 右侧导航区中的a标签 */
.top-navigation-items li a {
    text-align:center;
    line-height:  30px;
    border-right: 1px solid #999;
    padding-right: 10px;
}
/* 右侧导航区中的第一个a标签 */
.login-register :first-child{
   border-right: 0;
}
/* 右侧导航区中的最后一个a标签 */
.top-navigation-items li:last-child a  {
    border-right: 0;
}
