/* 基本css属性 */
/* 左浮动 */
.float-left {
    float: left;
}

/* 右浮动 */
.float-right {
    float: right;
}

/* 清除浮动影响 */
.clear-both::after {
    content: "";
    /* 设置为块元素 */
    display: block;
    /* 清除浮动影响 */
    clear: both;
}

/* 版心 */
.container {
    /* 宽度 */
    width: 1190px;
    /* 居中 */
    margin: 0 auto;
}


/* 导航条 */
.top {
    /* 背景颜色 */
    background-color: #e3e4e5;
    /* 边距 */
    border: 1px solid #ddd;
    /* 高度 */
    height: 30px;

}

/* 左侧欢迎词 */
.top-welcome {
    /* 字体大小 */
    font-size: 20px;
    /* 字体居中 */
    text-align: center;
    /* 行距 */
    line-height: 30px;
    /* 字符 粗体 */
    font-weight: bold;
    /*  字符颜色*/
    color: red;
}

/* 右侧导航区 */
.top-navigation-items li {
    /* 左浮动 */
    float: left;
    /* 外边框 */
    margin-right: 10px;


}

/* 右侧导航区中的a标签 */
.top-navigation-items li a {
     /* 字体居中 */
    text-align: center;
    /* 行距 */
    line-height: 30px;
    /* 边框 */
    border-right: 1px solid #999;
    /* 内边框 */
    padding-right: 10px;
}

/* 右侧导航区中的第一个a标签 */
.login-register :first-child {
    /* 边框 */
    border-right: 0;
}

/* 右侧导航区中的最后一个a标签 */
.top-navigation-items li:last-child a {
      /* 边框 */
    border-right: 0;
}